# APP LEVEL CONFIGURATIONS
APP_NAME="Typescript Starter"
PORT=5000
APP_SECRET=""
NODE_ENV=""

# MOCK DATA
MOCK_DATA=

# Database configuration
DATABASE_ENGINE="mongodb"
DATABASE_HOST="localhost:27017"
DATABASE_USERNAME=""
DATABASE_PASSWORD=""
DATABASE_PORT=""

# Email
EMAIL_TYPE="SMTP"
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_SUBJECT=

# LOGS
LOG_FORMAT=
LOG_DIR=.../logs

# CORS
CORS=
CORS_ORIGIN=
CORS_METHOD=

# AUTH TYPE
IS_AUTH=
EMAIL_PASSWORD_AUTH=
MOBILE_PASSWORD_AUTH=
EMAIL_OTP_AUTH=
MOBILE_OTP_AUTH=
FORGET_PASSWORD_VIA_MOBILE=
FORGET_PASSWORD_VIA_OTP=

# SMS OTP
SMS_TYPE="" #TWILIO,OTHER
SMS_HOST=
SMS_USERNAME=
SMS_PASSWORD=
SMS_OTP_LENGTH=

# ENCRYPTION
REQUEST_RESPONSE_ENCRYPTION=
ENCRYPTION_KEY=

