PORT=5000
APP_URL=http://localhost:5000
FRONTEND_URL="http://localhost:3000"
NODE_ENV=local
SKIP_ACTIVITY=true

# Database config
MONGOOSE_URL=""
APP_SECRET=NMyPfFYPI1RomvnCNxFmS4UfB1N2+tlKCXI28TokYiWO2bJzqAU3NEQwU9OX4k7gFgGKW6N0hA7r/3on21ErGMDnfWxhamZPnL7n2DUMn0J3xi+T8iprqhnIC7nSJYUUx50ej5TBW1OXDvOo5ilvEQNjDqTgS+9usIV7jbEMsiomp2ycuDfljfqVnWsCNl53AQ9q5WNe+Upqwhs8FbMkgDlULNlRKjr3Gj5zoi2BYAtemzrjK3EaCUwzjw5CydpcPLCKkOmdhr6bcQ774Y1iymfgfKvg2BhrLeEyWP4h3eCVy33th8/AyRiwYHwRIrRdPwFQFgLwiYcteICoXACnSQ==

# Encryption
ENCRYPTION_KEY=bf3c199c2470cb477d907b1e0917c17b
ALGORITHM="aes-256-cbc"
SALT=tvycvrncqjbvgmzexcqmijlgkpmsypov
IV=5183666c72eec9e4

# Mail Config
MAILGUN_KEY=
MAILGUN_DOMAIN=
FROM_EMAIL_VERIFY="no-reply@brightdigigold.in"
FROM_NAME_VERIFY="Verify Your Account"

# Cors & Hosts
ALLOWED_HOSTS=http://localhost:4000|http://localhost:3000

# Log Level
LOG_LEVEL='debug'
REQUEST_RESPONSE_ENCRYPTION=true

# sms credentials
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Razorpay credentials
RAZORPAY_KEY_ID=""
RAZORPAY_SECRET_ID=""

# Pay U Money Key
PAY_U_MONEY_KEY=""
PAY_U_MONEY_URL=""
PAY_U_MONEY_SALT=""


CASHFREE_ORDER_URL=""
CASHFREE_SECRET=
CASHFREE_APP_ID=